.navbar{
    background:#24d50d;
    height: 113px;
    width : 100%;
    position: fixed;
    border-bottom: 1px solid #fff;
    
}
.mainbody{
    margin: 0;
}
.logo{
    width: 80px;
    padding-left: 40px;
    padding-top: 20px;
}

.navileft{
    width: 50%;
    height: 50%;
}
.naviright{
    padding-left: 650px;
    width: 50%;
    height: 50%;
}
.product{
    
    color: #fff;
    font-family: "Korolev";
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    

}
.recipies{
    padding-left: 20px;
    color: #fff;
    font-family: "Korolev";
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
  

}
.stores{
    padding-left: 20px;
    color: #fff;
    font-family: "Korolev";
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    

}
.navimgf{
    width: 25px;
    padding-left: 220px;
    text-decoration: none;

}
.navimgi{
    width: 25px;
    padding-left: 5px;
    text-decoration: none;

}

.section1{

}
.body1{
   padding-top: 113px;
display: flex;
}
.body2{
  display: flex;
}
.body3{
  display: flex;
}
.bodyimage{
        height: 100%;
        width: 100%;
        object-fit: cover;
      
}
.textbanner1{
    position: absolute;
    top: 33%;
    left: 9%;
    color: #fff;
    
}
.textbannertxt1{
    text-transform: uppercase;
    font-family: 'korolev-rounded';
    font-size: 4.5vw;
    font-weight: 800;
    line-height: 74px;
    margin-bottom: 32px;
    
}
